body, html {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#map {
	width: 100%;
	height: 100%;
}

.leaflet-popup-tip {
	height: 8px;
}

.leaflet-popup-content-wrapper {
	min-width: 340px;
}

.leaflet-container {
    background: #AAAAAA;
}

.leaflet-marker-icon {
	filter: drop-shadow(0px 0px 2px white);
}

.leaflet-marker-icon:hover {
	filter: drop-shadow(0px 0px 5px white);
}

.leaflet-tile {
	filter: grayscale(60%) sepia(30%);
}

#fab-cont {
	position: absolute;
	top: 0px;
	right: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.fab {
	position: relative;
	height: 65px;
	width: 65px;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 34px;
	z-index: 998;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,0.65);
	transition: 0.5s;
}

.fab:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.fab.is-open {
	width: 280px;
	border-radius: 10px;
}

#fab-select.is-open {
	height: 300px;
	max-height: 50%;
}

.fab.is-open .fab-content {
	transition: 0.35s ease-in-out 0.15s;
	opacity: 1;
	padding: 15px;
}

.fab-content {
	display: block;
	width: 100%;
	padding-top: 5px !important;
	transition: 0.15s ease-in-out;
	opacity: 0;
	padding: 15px;
	white-space: nowrap;
}

.fab.is-open #icon-filter, .fab.is-open #icon-select {
	opacity: 0;
	z-index: 997;
	cursor: default;
	transition: opacity 0.38s;
}

#icon-filter , #icon-select{
	opacity: 1;
	z-index: 999;
	cursor: pointer;
	transition: opacity 0.38s ease-in-out 0.12s;
}

.fab.is-open .icon-close {
	opacity: 1;
	z-index: 999;
	cursor: pointer;
	transition: opacity 0.38s ease-in-out 0.12s;
}

.icon-close {
	opacity: 0;
	z-index: 997;
	cursor: default;
	transition: opacity 0.38s;
}

.fab-icon {
	position: absolute;
	top: 0px;
	right: 0px;
	transition: opacity 0.25s;
}

.fab-content h2 {
	margin: 0;
	margin-top: 11px;
	width: 100%;
	text-align: center;
}

#fab-table {
	width: 100%;
}

.checkCell {
	text-align: center;
	cursor: pointer;
}

.checkCell input {
	cursor: pointer;
}

#credit-cont {
	position: absolute;
	display: none;
	bottom: 10px;
	left: 10px;
	z-index: 998;
	width: 150px;
	max-width: 20%;
}

#credit-logo {
	width: 100%;
}

#fab-content-select {
	padding-right: 0px;
	height: 100%;
}

.select-img {
	width: 75px;
	height: 75px;
	padding-top: 5px;
	cursor: pointer;
	border-radius: 10px;
}

.select-img-cont {
	height: calc(100% - 60px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow-y: scroll;
}

.logo-cont {
	position: absolute;
	width: 240px;
	left: 50%;
	margin-left: -120px;
	z-index: 999;
	background: white;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,0.65);
}

.logo-cont img {
	padding: 10px;
	width: calc(100% - 20px);
}

@media screen and (max-width: 420px) {
    .logo-cont {
		position: relative;
		width: 100%;
		height: 60px;
		z-index: 999;
		border-radius: 0px;
		margin: 0;
		left: 0;
	}
	
	.logo-cont img {
		padding: 5px;
		width: 180px;
		display: absolute;
		left: 50%;
		margin-left: 90px;
	}
	
	#fab-cont {
		top: 60px;
	}
}
/*400px is mobile*/